header {
  text-align: center;
}

h4 {
  color: green;
}

button {
  background-color: green;
  margin: auto;
  color: white;
  border: none;
  border-radius: 0.25rem;
  padding: 0.3rem;
}
